
<div id="masonry-container" class="transitions-enabled">
	<% @array.each do |post| %>
	  <% if post.is_a? Post %>
			<div class="posts-container">
			
				<div class="hover-tile-outer">
					<%= link_to (image_tag(post.image.url)), post, class: "image_link" %>
					<div class="hover-tile-container">
						<div class="hover-tile hover-tile-visible"></div>
						<div class="hover-tile hover-tile-hidden">
							<p class="posts-like">
								<div class="vote">
									<% if current_user.voted_as_when_voted_for(post) %>
										<%= link_to dislike_post_path(post), method: :put, class: 'down' do %>
											<span><i class="fa fa-heart"></i></span>
										<% end %>
									<% else %>
										<%= link_to like_post_path(post), method: :put, class: 'up' do %>
											<span><i class="fa fa-heart-o"></i></span>
										<% end %>
									<% end %>
								</div>
							</p>
						</div>
					</div>
				</div>

				<div class="posts-body">
					<p class="posts-content"><%= post.content %></p>
					<p>
						<span class="posts-avatar"><%= image_tag(post.user.avatar.url(:thumb)) %></span>
						<span class="posts-name">
							<%= link_to post.user.name, post.user %>
							<p class="posts-tags"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
						</span>
					</p>
				</div>
			</div>
	  <% else %>
			<div class="posts-container">

				<div class="hover-tile-outer">
					<div class="video">
						<div class="video-wrapper">
								<%= (image_tag(post.thumbnail_url)) %>
								<%= link_to post, class: 'image_link' do %>
									<div class="play-button"></div>
								<% end %>
						</div>
					</div>
					<div class="hover-tile-container">
						<div class="hover-tile hover-tile-visible"></div>
						<div class="hover-tile hover-tile-hidden">
							<p class="posts-like">
								<div class="vote">
									<% if current_user.voted_as_when_voted_for(post) %>
										<%= link_to dislike_link_path(post), method: :put, class: 'down' do %>
											<span><i class="fa fa-heart"></i></span>
										<% end %>
									<% else %>
										<%= link_to like_link_path(post), method: :put, class: 'up' do %>
											<span><i class="fa fa-heart-o"></i></span>
										<% end %>
									<% end %>
									<span><%= post.get_upvotes.size %> likes</span>
								</div>
							</p>
						</div>
					</div>
				</div>

				<div class="posts-body">
					<p class="posts-content"><%= post.content %></p>
					<p>
						<span class="posts-avatar"><%= image_tag(post.user.avatar.url(:thumb)) %></span>
						<span class="posts-name">
							<%= link_to post.user.name, post.user %>
							<p class="posts-tags"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
						</span>
					</p>
				</div>
			</div>
	  <% end %>
	<% end %>
</div>

<%= will_paginate @array %>







