<div class="bigbox">
	<div class="box">
		<div class="hover-tile-outer">
			<div class="video">
				<div class="video-wrapper">
						<% if @link.html.present? %>
		        	<%= @link.html.html_safe %>
		        <% end %>
				</div>
			</div>
			<div class="hover-tile-container">
				<div class="hover-tile hover-tile-visible"></div>
				<div class="hover-tile hover-tile-hidden">
					<p class="posts-like">
						<div class="vote">
							<% if current_user.voted_as_when_voted_for(@link) %>
								<%= link_to dislike_link_path(@link), method: :put, class: 'down' do %>
									<span><i class="fa fa-heart"></i></span>
								<% end %>
							<% else %>
								<%= link_to like_link_path(@link), method: :put, class: 'up' do %>
									<span><i class="fa fa-heart-o"></i></span>
								<% end %>
							<% end %>
							<span><%= @link.get_upvotes.size %> likes</span>
						</div>
					</p>
				</div>
			</div>
		</div>
		<div class="posts-body">
			<p class="posts-content"><%= @link.content %></p>
			<p>
				<span class="posts-avatar"><%= image_tag(@link.user.avatar.url(:thumb)) %></span>
				<span class="posts-name">
					<%= @link.user.name %>
					<p class="posts-tags"><%= raw @link.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
				</span>
			</p>
		</div>
	</div>

	<div class="comments-box">
		 <%= render partial: 'comments/form', locals: { commentable: @link } %>
		 <%= render partial: 'comments/comments', locals: { commentable: @link } %>
	</div>
</div>




