<div class="bigbox">
	<div class="box">
		<div class="video">
			<div class="video-wrapper">
				<% if @link.html.present? %>
        	<%= @link.html.html_safe %>
        <% end %>
			</div>
		</div>
		<div class="posts-body">
			<p class="posts-content"><%= @link.content %></p>
			<p>
				<span class="posts-avatar"><%= image_tag(@link.user.avatar.url(:thumb)) %></span>
				<span class="posts-name">
					<%= @link.user.name %>
					<p class="posts-tags"><%= raw @link.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
				</span>
			</p>
		</div>
	</div>

	<div class="comments-box">
		 <%= render partial: 'comments/form', locals: { commentable: @link } %>
		 <%= render partial: 'comments/comments', locals: { commentable: @link } %>
	</div>
</div>


