
<div id="masonry-container" class="transitions-enabled">
	<% (@posts.to_a + @links.to_a).sort_by(&:created_at).each do |post| %>
	  <% if post.is_a? Post %>
			<div class="posts-container">
				<%= link_to (image_tag(post.image.url)), post, class: "image_link" %>
				<div class="posts-body">
					<p class="posts-content"><%= post.content %></p>
					<p>
						<span class="posts-avatar"><%= image_tag(post.user.avatar.url(:thumb)) %></span>
						<span class="posts-name">
							<%= link_to post.user.name, post.user %>
							<p class="posts-tags">tags</p>
						</span>
					</p>
				</div>
			</div>
	  <% else %>
			<div class="posts-container">
				<div class="video">
					<div class="video-wrapper">
						<% if post.html.present? %>
							<%= post.html.html_safe %>
						<% end %>
					</div>
				</div>
				<div class="posts-body">
					<p class="posts-content"><%= post.content %></p>
					<p>
						<span class="posts-avatar"><%= image_tag(post.user.avatar.url(:thumb)) %></span>
						<span class="posts-name">
							<%= link_to post.user.name, post.user %>
							<p class="posts-tags">tags</p>
						</span>
					</p>
				</div>
			</div>
	  <% end %>
	<% end %>
</div>







