<header class="header">
	<div id="logo"><%= link_to image_tag('cd-logo.svg'), root_path %></div>
	<div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <%= form_tag do %>
            <%= search_field_tag "search", nil, placeholder: "Search", autocomplete: :off %>
            <button type="submit">
              <%= image_tag('search.svg') %>
            </button>
          <% end %>
        </form>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="nav-user-group">
      <span class="nav-avatar"><%= image_tag(current_user.avatar.url(:thumb)) %></span>
      <span class="nav-name"><%= current_user.name %></span>
    </div>
  <% end %>

  <div class="nav-bell"></div>
</header>
		
	<nav class="main-nav">
		<ul>
      <div class="arrow"></div>
			<% if user_signed_in? %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "New Post", new_post_path %></li>
        <li><%= link_to "New Link", new_link_path %></li>
        <li><%= link_to "Settings", edit_user_registration_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
		</ul>
	</nav>
