<header class="header">
	<div id="logo"><%= link_to image_tag('cd-logo'), root_path %></div>
	<div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Search Stuff" />
          <button type="submit">
            <%= image_tag('search.svg') %>
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="nav-avatar">
    <span><%= image_tag(current_user.avatar.url(:thumb)) %></span>
  </div>

  <div class="nav-bell"></div>
</header>
		
	<nav class="main-nav">
		<ul>
			<% if user_signed_in? %>
        <li><%= link_to "New", new_post_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "SignIn", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
		</ul>
	</nav>
